* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

header {
    background-color: burlywood; 
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

main {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

main p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul li {
    font-size: 1rem;
    margin-bottom: 8px;
}

ol {
    margin-left: 20px;
    margin-bottom: 20px;
}

ol li {
    font-size: 1rem;
    margin-bottom: 8px;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem; 
    }

    main {
        padding: 15px; 
    }

    main h2 {
        font-size: 1.5rem; 
    }

    ul, ol {
        margin-left: 15px; 
    }
}
